DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_DATABASE=hyphen_api
MQTT_IOT_ENDPOINT=*****.iot.us-east-1.amazonaws.com
MQTT_IOT_PORT=8883
SYSTEM_IDENTITY_NAME=CommandCenter
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
MQTT_SUBSCRIPTIONS="Hy/#"
JWT_CLIENT_SECRET=MySuperSecret
ENV_SECRET_KEY=AnotherSecretForSecrets
REDIS_CONFIG_URL=redis://localhost:6379/1
HOST_BUILDS_PATH=
API_SERVICE_ROUTES=/api/v2/
API_SERVICE_ROUTES=1612